#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  height: 200px;
  width: 800px;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  padding: 2em;
  background-color: rgb(255, 239, 239);
  text-align: center;
  border-radius: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  transform: perspective(1000px);
  transform-style: preserve-3d;
  cursor: pointer;
  transition-duration: .12s;
}

.card:hover {
  transform: scale(1.05);
}
.card .front, .card .back{
  position: absolute;
  padding: 5px;
  justify-content: center;
  backface-visibility: hidden;
}


.card .front {
  transform: rotateY(0deg);
}

.card .back {
  transform: rotateY(180deg);
}


.card.flipped {
  transform: rotateY(180deg);
}


